body {
  margin: 0;
  padding: 0;
  background-image: url("./blackboard.jpeg");
  background-attachment: scroll;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  font-size: 25px;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.votes {
  background-color: rgba(255, 255, 255, 0.24);
  width: 100%;
  padding: 10px;
  border-radius: 10px;

}

.comments {
  list-style-type: none;
  padding: 20px;

}

.up,
.down,
.remove {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: lightblue;
  font-weight: 700;
  font-family: 'Gloria Hallelujah', cursive;
  margin-right: 10px;
}

.down {
  background-color: rgb(226, 118, 118);
}

.remove {
  background-color: rgb(129, 12, 12);
  color: white;


}